<!DOCTYPE html>
<html>
  <head>
    <title>Dilbert API</title>
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1>Dilbert API</h1>
    <hr />
    <a href="https://daily-dilbert-api.glitch.me/json"
      >https://daily-dilbert-api.glitch.me/json</a
    >
    <pre>
{
    "title": "{{title}}",
    "image": "<a href="{{image}}" target="_blank">{{image}}</a>"
}
    </pre>
    <hr />
    <p>
      Or use
      <a href="https://daily-dilbert-api.glitch.me/search?q=2022-01-01"
        >https://daily-dilbert-api.glitch.me/search?q=2022-01-01</a
      >; to search for your favorite Comic Agile!
    </p>
  </body>
</html>
